# local package
-e .

# external requirements
argparse
awscli
coverage
datetime
EasyDict


flake8==4.0.1
Logger
mlflow
numpy
pandas
pytest
python-dotenv>=0.5.1

pytorch-ignite
sklearn
Sphinx
torch
tqdm
wandb